body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: #3B576D; */
}

/* CSS - Cabeçalho */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}
header .logo {
  font-size: 25px;
  font-weight: bold;
  color: #FFFFFF;
}
header .menu {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header .menu-line {
  height: 3px;
  background-color: #333333;
}

/* CSS - Conteúdo */
.container {
  display: flex;
  height: 100vh;
}
.container .leftside {
  flex: 1;
  background-color: #3B576D;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.container .rightside {
  flex: 1;
  background-image: url('../images/hero.jpg');
  background-size: 100% auto;
  background-position: center;
}
.container .info {
  color: #FFFFFF;
}
.container .info .profession {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
}
.container .info .name {
  font-weight: bold;
  font-size: 80px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.container .info .buttons a {
  display: inline-block;
  background-color: #FFFFFF;
  color: #3B576D;
  padding: 20px 40px;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0px 0px 10px #111111;
  border-radius: 5px;
  margin-right: 10px;
}
.container .info .buttons a.ligths {
  background-color: #3B576D;
  color: #FFFFFF;
}
.container .info .buttons a:hover {
  opacity: 0.8;
}

/* CSS - Rodapé */
footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  color: #FFFFFF;
  font-size: 12px;
}
footer a {
  text-decoration: none;
  color: #FFFFFF;
}
footer a:hover {
  text-decoration: underline;
}